body {
  background-color: #fff;
  background-image: url("../img/bg.png"); }

.container {
  background-color: #fff; }

a:hover {
  text-decoration: none; }

.page {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
